README.md export-ignore
LICENSE.md export-ignore
.gitignore export-ignore
.gitattributes export-ignore
addons/virtual_joystick_plus/screenshots export-ignore
gp.bat export-ignore
/assets export-ignore
.github export-ignore